@model Product
@{
    ViewData["Title"] = "Product Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <p>
            @ViewData["Title"] - <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-sm">Products</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Update Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Title</td>
                    <td>@Model.Subtitle</td>
                    <td>
                        @if (Model.UpdatedDate != null)
                        {
                            @Model.UpdatedDate.Value.ToLongDateString()
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>
                        <a asp-controller="Product" asp-action="Edit" class="btn btn-success btn-sm" asp-route-id="@Model.Id">Edit</a> |
                        <a asp-controller="Product" asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@Model.Id" onclick="return confirm('Are you sure ?')">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>